.container{
 display: flex;
 flex-wrap: wrap;
 align-items: flex-start;
 margin: 1.5rem;
 margin-top: 0.5rem;   
 margin-left: 260px;
}

ul{
    display: flex;
    flex-direction: column;
    flex: 3 0;
    justify-content: space-evenly;
    border: 1px solid #b08f5c;
    list-style: none;
    margin: 0.5rem;
    padding: 0;
}

ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #b08f5c;
}

ul li:last-child{
    border: none;
}

li img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

li div  {
    padding: 1rem;
}

li div a{
    font-family: 'Archivo';
    font-size: 16px;
    text-decoration: none;
    color: #49340d;
    font-weight: 600;
}

li div:not(:first-child){
    flex-basis: 18%;
}

li select{
    width: 3rem;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    font-size: 1.1rem;
    font-weight: 100;
}

li .remove-btn{
    border: none;
    padding: 0.5rem;
    color: #b08f5c;
    opacity: 0.7;
    outline: none;
    cursor: pointer;
}

li .remove-btn:hover{
    opacity: 1;
    cursor: pointer;
}

.checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 3;
    height: 20rem;
    border: 1px solid #b08f5c;
    padding: 0.5rem;
    margin: 0.5rem;
}

.checkout>div{
    font-size: 1.4rem;
    margin: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.foods-count{
    margin: 1.5rem;
}

.foods-count::before{
    content: "Count:";
    color: gray;
}

.total-price::before{
    content: "Price:";
    color: gray;
}

.checkout a{
    display: block;
    width: 100%;
    text-align: center;
    justify-self: center;
    text-decoration: none;
    font-family: 'Archivo';
    background-color: #b08f5c;
    height: 2rem;
    color: #ffffff;
    text-transform: uppercase;
    align-items: center;
}

.checkout a:hover{
    opacity: 1;
    cursor: pointer;
    color: #49340d;
}

.button{
    font-family: 'Archivo';
    background-color: #b08f5c;
    height: 50px;
    width: 170px;
    color: #ffffff;
    text-transform: uppercase;
}

a.btn-link{
    width: 100%;
    opacity: 1;
}